	<div class="calendar-wrap clearfix">
		<h2 class="calendar-title text-center">{{calendarYear}}</h2>
		<div class="row">
			<div ng-repeat-start="calendar in calendars track by $index" class="calendar col-md-3">
				<div class="calendar-month-title">{{calendarTitle}}</div>
				<mwl-calendar events="events" view="calendarView" view-title="calendarTitle" view-date="calendar.viewDate" cell-is-open="isCellOpen" custom-template-urls="{calendarMonthView: 'assets/templates/calendarMonthView.html',calendarMonthCell: 'assets/templates/calendarMonthCell.html'}" on-view-change-click="onViewChangeClick">
				</mwl-calendar>
		  	</div>
		  	<div class="clearfix hidden-xs" ng-repeat-end ng-show="(($index+1) % 4 == 0)"></div>
	  	</div>
  	</div>