<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{Lang.SEND_CONFIRM_TITLE}}</h3>
</div>
<div class="modal-body" id="modal-body">
	<p class="alert alert-info" ng-bind-html="alert_phrase" ng-show="nextSection != 'end'">

	</p>

	<p class="alert alert-success" ng-show="nextSection == 'end'" ng-bind-html="Lang.SEND_CONFIRM_LOADING"></p>

</div>
<div class="modal-footer">
	<button  ng-show="nextSection != 'end'" class="btn btn-success" ng-class="{'btn-loading': sendBussy}" type="button" ng-click="send()" ng-bind="confirmed ? Lang.SEND_CONFIRM_SEND_OK : Lang.SEND_CONFIRM_SEND"></button>
	<button ng-show="nextSection != 'end'" class="btn btn-info" type="button" ng-click="cancel()">{{Lang.SEND_CONFIRM_CANCEL}}</button>
</div>